<!-- NAVBAR -->
<br />
<div class="container">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#"><font color="white"> NG2 Exam Project</font></a>
      </div>
          <ul class="nav navbar-nav">
              <li><a routerLink="/data-binding">Data Binding</a></li>
              <li><a routerLink="/directives">Directives</a></li>
              <li><a routerLink="/forms">Forms</a></li>
              <li><a routerLink="/input-outputs"> In/Outputs</a></li>
              <li><a routerLink="/pipes">Pipes</a></li>
              <li><a routerLink="/routing/">Routing</a></li>
              <li><a routerLink="/services/">Services & Http</a></li>
              <li><a routerLink="/unit-testing/">Unit Testing</a></li>
          </ul>
      </div>
</nav>
</div>
<!-- END OF NAVBAR -->
<div class="container">
<router-outlet></router-outlet>
</div>
