
<h3> POST Data </h3>
<div class="jumbotron">
    <div class="form-group">
        <label for="username"> Username :</label>
        <input type="text" class="form-control" #userName />
    </div>

    <div class="form-group">
        <label for="email"> Email </label>
        <input type="text"class="form-control" #email />
    </div>

    <button class="btn btn-default" (click)="onSubmit(userName.value, email.value)"> Send POST Request </button>
</div>

<!-- DISPLAYING DATA -->
<h3> GET Data </h3>
<div class="jumbotron">
    <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td> {{ item.userName }} </td>
        <td> {{ item.email }} </td>
      </tr>
    </tbody>
  </table>
</div>
